extends layout

block content
    h1 Form

    form(role='form' method='POST' action='/new')
        div.form-group
            label(for='user') User: 
            input#user(
                type='text'
                name='messageUser'
            )
        div.form-group
            label(for='text') Text: 
            input#text(
                type='text'
                name='messageText'
            )
        button(type='submit') Submit
